
<div class="container">
	<div class="row">
<div class="col-lg-3">


  <h2>Users</h2>
  <div class="col-lg-9">
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>

    <h3>New book</h3>

  <%= form_for(@book) do |f| %>

    <h6>Title</h6>
    <%= f.text_field :title %>
 
    <h6>Body</h6>
    <%= f.text_area :body %>
 <br>
    <%= f.submit 'Create Book' %>
 
<% end %>